*{background-color: rgb(243, 202, 190); /*Mimo tono de logo*/
    box-sizing: content-box;
    text-align: center;

}
header{
  text-align: center;
}

input {
    text-align: center;
    padding:10px;
    border-radius:10px;
    padding:10px;
    margin:10px 0; 
    
  }

  label{
    font-family: 'Comfortaa', cursive;
    font-size: 15px;
    letter-spacing: 2px;
  }