*{background-color: rgb(243, 202, 190) /*Mimo tono de logo*/

}
header{
  text-align: center;
}
table.sabores {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 5px solid  rgb(54, 164,194 );
  }
table.rellenos {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 5px solid  rgb(253,247,236 );
  }

  table.decoraciones {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 5px solid  rgb(54, 164,194 );
  }

  table.extras {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 5px solid  rgb(253,247,236 );
  }
  
  thead th:nth-child(1) {
    width: 30%;
  }
  
  thead th:nth-child(2) {
    width: 20%;
  }
  
  thead th:nth-child(3) {
    width: 15%;
  }
  
  thead th:nth-child(4).sabores {
    width: 35%;
  }
  
  th, td {
    padding: 20px;
  }

  /* typography */

html {
    font-family: 'helvetica neue', helvetica, arial, sans-serif, 'Comforta';
  }
header{
  font-family: 'Chau Philomene One', sans-serif;
  font-size: 30px;
}
  caption{
     font-family: 'Lobster'; 
     font-size: 35px;
  }

  thead th, tfoot th {
    font-family: 'Lobster';
    font-size: 30px;
  }
  
  th {
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    letter-spacing: 2px;
  }
  
  td { 
    letter-spacing: 1px;
  }
  
  tbody td {
    text-align: center;
  }
  
  tfoot th {
    text-align: right;
  }